@media (max-width: 1258px) {
    .home-page-content {
        margin-left: 290px;
        max-width: 520px;
    }

    .about-page-personal {
        // gap: 180px;
        justify-content: center;
    }

    .personal-info-block {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

}

@media (max-width: 1200px) {
    .portfolio-page {
        img {
            height: 100% !important;
        }

        .MuiPaper-root {
            width: 420px !important;
            height: 313px !important;
            margin: 0 auto;
        }
    }

    .contact-page-content {
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .contact-page-info {
        flex-direction: row;
        gap: 36px;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .header {
        position: fixed;
        left: 0;
        bottom: 0;
        top: auto;
        transform: none;
        width: 100%;
        background: #2b2a2a;
        padding: 8px;
        z-index: 10;
        display: flex;
        justify-content: center;

        h3 {
            display: none;
        }

        nav {
            flex-direction: row;
            gap: 30px;
        }
    }

    .home-page {

        .home-motion {
            margin-top: -120px;
            display: flex;
            flex-direction: column;
            gap: 55px;
        }

        &-bg {
            display: none;
        }

        &-photo {
            position: relative;
            width: 310px;
            height: 310px;
            border-radius: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
            border: 4px solid rgb(180, 180, 180);
        }

        &-content {
            // margin: 90px auto 0 auto;
            margin: 0 auto;
            max-width: 650px;
            text-align: center;
        }

        &-social {
            justify-content: center;
        }
    }

    .about-page-personal {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .personal-info {
        margin-top: 20px !important;

    }

    .watch-cv {
        width: 100%;
        text-align: center;
    }

    .education-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
        margin-bottom: 60px;
    }

    .recommend {
        margin-bottom: 130px !important;

        &-comment {
            font-size: 14px !important;
            line-height: 28px !important;
        }

        &-card {
            max-width: 550px !important;
            height: 300px !important;
        }
    }

    .portfolio-page {
        margin-bottom: 60px;
    }
}

@media (max-width: 680px) {
    .contact-page-content {
        justify-content: center;
    }

    .MuiBox-root {
        width: 500px !important;
    }

    .contact-page-info {
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width: 571px) {

    .home-page-photo {
        width: 290px;
        height: 290px;
    }

    .home-page-content {
        h1 {
            font-size: 40px;
            line-height: 52px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
        }
    }

    .title-bg {
        font-size: 70px !important;
        top: -20% !important;
    }



    .education-right-bar {
        gap: 20px !important;
    }

    .second {
        display: flex;
        gap: 95px !important;
    }

    .third {
        display: flex;
        gap: 190px !important;
    }

    .recommend {
        margin-bottom: 115px !important;

        h2 {
            font-size: 40px !important;
        }


        &-card {
            max-width: 550px !important;
            height: 250px !important;
        }

        &-head-text {
            p {
                margin-top: 6px !important;
            }
        }

        &-head-img {
            img {
                width: 80px !important;
                height: 80px !important;
            }
        }

        &-comment {
            margin-top: 10px !important;
            font-size: 13px !important;
            line-height: 25px !important;
        }
    }

    .portfolio-page {


        .MuiPaper-root {
            max-width: 320px !important;
            height: 250px !important;
            margin: 0 auto;
        }
    }

    .MuiBox-root {
        width: 350px !important;
    }
}

@media (max-width: 435px) {

    .portfolio-page-header {
        h1 {
            font-size: 40px !important;
        }

        .title-bg {
            top: -30% !important;
        }
    }

    .recommend {
        h2 {
            font-size: 35px !important;
        }

        &-head {
            gap: 0 !important;
        }

        img {
            display: none;
        }

        &-comment {
            font-size: 12px !important;
            line-height: 20px !important;
        }
    }

    .contact-page {
        padding-bottom: 45px !important;
    }
}

@media (max-width: 390px) {

    .recommend {

        h2 {
            font-size: 29px !important;
        }

        &-card {
            height: 260px !important;
        }
    }

    .home-page-photo {
        width: 230px;
        height: 230px;
    }

    .home-page-content {

        h1 {
            font-size: 26px;
            line-height: 36px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
        }
    }

    .MuiBox-root {
        width: 300px !important;
    }

    .contact-page-text {
        a {
            font-size: 14px !important;
        }
    }
}