@import 'variables';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.about-page {


    &-container {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &-personal {
        margin: 80px auto 0 auto;
        display: flex;
        gap: 140px;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.062);
    }

    .personal-info {
        margin-top: 100px;

        h4 {
            text-transform: uppercase;
            font-size: 28px;
            letter-spacing: 1.2px;
        }

        &-block {
            margin-top: 30px;
            display: flex;
            gap: 45px;
        }

        .info-text {
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                letter-spacing: 0.3px;
                color: $color-secondary;

                span {
                    color: white;
                    font-weight: normal;
                }
            }
        }

        .watch-cv {
            display: inline-block;
            margin-top: 60px;
            color: white;
            letter-spacing: -1px;
            font-size: 18px;
            border: 2px solid $color-purple;
            padding: 10px 60px;
            border-radius: 30px;

            &:hover {
                background-color: $color-purple;
                transition: background-color 500ms linear;
            }
        }

    }

    .personal-specialized {
        flex-wrap: wrap;
        max-width: 850px;
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

    .specialized-item {
        background-color: rgba(255, 255, 255, 0.055);
        max-width: 370px;
        text-align: center;
        color: white;
        padding: 25px 50px;

        h5 {
            font-size: 16px;
            letter-spacing: 1.2px;
        }

        p {
            margin-top: 10px;
        }

        .icon-item {
            color: $color-purple;
        }
    }

    .education {
        padding-bottom: 20px;
        margin-top: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.062);

        h2 {
            font-size: 45px;
            text-align: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;

            span {
                color: $color-purple
            }
        }

        &-container {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
        }

        &-left-bar {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 480px;

            h5 {
                font-size: 20px;
                letter-spacing: 1.2px;
            }

            .learning-descr {
                margin-top: 10px;
                letter-spacing: 0.5px;
                font-size: 14px;
                line-height: 29px;
                color: $color-secondary;
            }

            .learning-years {
                margin-top: 8px;
            }
        }

        &-right-bar {
            min-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .second {
            display: flex;
            gap: 150px;
        }

        .third {
            display: flex;
            gap: 300px;
        }

        .edu-icon {
            font-size: 62px;
        }

        .html {
            color: rgb(233, 53, 53);
        }

        .css {
            color: rgb(61, 119, 243);
        }

        .sass {
            color: rgb(248, 155, 171);
        }

        .react {
            color: rgb(122, 217, 255);
        }

        .js {
            color: rgb(255, 255, 0);
        }

        .trap {
            color: rgb(118, 51, 249);
        }

        .mui {
            color: rgb(56, 56, 248);
        }

        .redux {
            color: rgb(132, 98, 201)
        }
    }

    .recommend {
        padding-bottom: 60px;

        h2 {
            text-align: center;
            font-size: 50px;
            margin-top: 50px;
        }

        .slick-slider {
            margin-top: 44px;
        }

        .slick-list {
            text-align: center;
        }

        .slick-dots {
            bottom: -45px;

            li {
                height: 30px;
                width: 44px;
            }

            button {
                &::before {
                    width: 30px;
                    height: 30px;
                    content: "";
                    background-color: $color-purple;
                    border-radius: 50%;
                }
            }
        }

        &-card {
            padding: 10px 20px;
            background-color: $color-gray;
            display: flex;
            flex-direction: column;
            max-width: 650px;
            height: 300px;
        }

        &-head {
            display: flex;
            gap: 30px;
            align-items: center;

            &-img {
                img {
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                }
            }

            &-text {
                width: 250px;
                text-align: left;

                h4 {
                    color: $color-purple;
                    font-size: 20px;
                }

                p {
                    color: $color-secondary;
                    margin-top: 12px;
                    font-size: 16px;
                    letter-spacing: 0.3px;
                }
            }
        }

        &-comment {
            font-family: $font-secondary;
            text-align: left;
            margin-top: 20px;
            letter-spacing: 1.5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
        }
    }



}