@import 'variables';
@import 'config';
@import 'header';
@import 'home';
@import 'about';
@import 'portfolio';
@import 'contact';

html,
body {
    font-family: $font-primary;
    background-color: $color-dark;
    overflow-x: hidden;
    height: 100vh;
    color: white;

}

.page-header {
    margin-top: 90px;
    text-align: center;
    position: relative;

    h1 {
        font-size: 54px;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        z-index: 2;
        position: relative;
        letter-spacing: 2px;

        span {
            color: $color-purple;
        }

    }

    .title-bg {
        position: absolute;
        font-size: 110px;
        top: -50%;
        left: 50%;
        text-transform: uppercase;
        letter-spacing: 10px;
        transform: translate(-50%);
        font-weight: 900;
        color: rgba(255, 255, 255, 0.048);
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5e5e5e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden {
    display: none;
}

@import 'media';